{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock title %}
    
{% block body %}
<div class="container col-4">
    <h2 class="row justify-content-center p-1">{{title}}</h2>
    <hr>
    <table class="table table-bordered border-Secondary">
        <tr>
            <td>
                <form action="{% url 'new' %}" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="row justify-content-center px-4">
                        <input type="submit" value="Crear" class="btn btn-primary">
                    </div>
                </form>
            </td>
        </tr>
    </table>
</div>

{% endblock body %}
    